<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>

      <target name="FileTarget" xsi:type="FILE" filename="${basedir}/AppLogs/AppLogger.log" layout=" ${machinename}|${date:format=yyyy-MM-ddTHH\:mm\:ss}|${level:uppercase=true}|${logger}: ${message}|${exception}" />

    </targets>
    <rules>
      <logger name="FileLogger" minlevel="Info" maxlevel="Fatal" writeTo="FileTarget" />
    </rules>
  </nlog>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>